.customer-create {

  .header-title{
    margin-bottom: 20px;
  }

  .row-box{
    background: white;
    padding-top: 20px;
    border-radius: 5px;
  }

  .btn-area{
    margin:20px 0 0 200px;
  }
}
